* {
	font-family: unset !important;
	box-sizing: border-box;
}

html, body {
	font-family: 'Lato', sans-serif !important;
	background-color: #fff;
	margin: 0;
	padding: 0;
	height: 100%
}


body {
	display: grid;
	height: fit-content;
}

/*HEADER*/

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: .5fr 4fr 1fr;
	padding: 14px 10px;
	background-color: $default-d-color;
	color: #fff;
	column-gap: 10px;
	z-index: 100;
	overflow-x: auto;
	height: 98px;
	box-sizing: border-box;
	& .items{
		display: grid;
		grid-auto-flow: column;
		place-content: center start;
		column-gap: 3em;
		& > * {
			position: relative;
			cursor: default;
			&.active::after {
				position: absolute;
				content: "";
				border-bottom: 2px solid rgba(255,255,255,.6);
				left: 0;
				right: 0;
				bottom: -3px;
			}
		}
		& > *:not(.active) {
			color: rgba(255,255,255, .7);
			cursor: pointer;
			transition: color .3s ease;
			user-select: none;
			&:hover {
				color: #fff;
			}
		}
	}
	& .logo > img {
		padding: 10px;
		box-sizing: border-box;
		width: calc(max(3.8em, 1em + 2vw));
	}
	& .logo {
		place-content: center;
		align-items: center;
		column-gap: 10px;
	}
	& .socials {
		display: grid;
		grid-auto-flow: column;
		place-items:center;
		& > div > * {
			font-size: 2em;
			cursor: pointer;
		}
		& > a {
			color: #fff;
			transition: all .3s linear;
			&:hover {
				color: #fff;
			}
		}
	}
	& .item {
		& > a {
			color: inherit;
			text-decoration: none;
			/*font-size: 22px;*/
		}
	}
}

/*--------------------- main content ------------------------- */

.main-content {
	display: grid;
	max-width: calc(100vw);
	padding: 10px 15px;
	row-gap: 3em;
	& > h2 {
		margin: 15px 0;
		text-align: center;
	}
	& h1, h2, h3, h4, h5 {
		margin: 15px 0;
		color: #fff;
	}
	& p {
		margin: 5px 0;
		/*font-size: 17px;*/
		color: rgba($color: #fff, $alpha: .5);
	}

	& .highlight {
		margin: 5px 0;
	}
}

.sumary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #fff;
	padding: 10px;
	& > div {
		width: clamp(30em, 25vw, 900px);
		color: #666;
		& > p {
			margin: 10px 0;
			text-align: justify;
		}
	}
	& > img {
		width: 10em;
		place-self: center;
	}
	& h1 {
		color: $dark-color;
	}
	& pretty-button * {
		font-size: 20px !important;
		color: $default-d-color-light;
		border-color: $default-d-color-light;
		&:hover {
			color: $default-d-color;
			border-color: $default-d-color;
		}
	}
}

.benefits {
	display: grid;
	grid-auto-flow: column;
	column-gap: 10px;
	background-color: #fff;
	text-align: justify;
	padding: 0 10em;
	padding-bottom: 100px;
	& > * {
		padding: 5px;
		display: grid;
	}
	& .porperty > svg {
		place-self: center;
		font-size: 50px;
		color: $default-d-color
	}
}
.related {
	display: grid;
	text-align: center;
	& > div {
		display: grid;
		grid-auto-flow: column;
		place-items: center;
	}
	& img {
		width: 150px;
		cursor: pointer;
	}
}

.communication, .issues {
	padding: 10px;
}

.communication h3, .issues h3 {
	margin: 10px
	 0px;
}

#content {
	margin-top: 100px;
	position: relative;
}

.wrapper {
	height: calc(100% - 101px);
	display: grid;
	margin-top: 101px;
	overflow-y: auto;
	position: relative;
}

/*-----------------FOOTER-----------------*/
.footer {
	display: grid;
	background-color: $dark-grey;
	place-content: center;
	padding-top: 259px;
	padding-bottom: 130px;
	position: relative;
	> .footer-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 8em;
		max-width: 70vw;
		& > .footer-content{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			& h2 {
				margin-bottom: 94px;
				color: #fff;
				max-height: 29px;
			}
			& a {
				margin-bottom: 45px;
				color: rgba($color: #fff, $alpha: .5);
			}
		}
		& > .footer-info {
			> img.main-logo {
				margin: 45px 0;
				width: 4.5em;
			}
			> p {
				margin-bottom: 27px;
				color: rgba($color: #fff, $alpha: .5);
			}
			> img.logo-tipo{
				height: 11px;
				margin-bottom: 27px;
				place-self: flex-start;
			}
			> .socials {
				display: grid;
				grid-auto-flow: column;
				column-gap: 40px;
				font-size: 35px;
				grid-template-columns: repeat(3, 35px);
				align-items: center;
			}
		}
	}
	/*& img {
		grid-area: 2 / 2;
		width: 5em;
		place-self: center;
	}*/
	& div {
		display: flex;
		flex-direction: column;
	}
	& a {
		text-decoration: none;
		color: #fff;
		transition: all .3s ease;
		&:hover {
			color: ghostwhite;
		}
	}
}

/*--------------------Global font size------------------------------------*/

p, a, button, span, code, ul {
	font-size: clamp(1em, calc(.2em + 1vw), 53px);;
}

h1 {
	font-size: clamp(2em, calc(1em + .7vw), 60px);
}

h2 {
	font-size: clamp(1.5em, calc(.7em + .7vw), 60px);
}