.md-content.no-menu.white {
	background-color: #fff;
}

.md-content.no-menu.dark {
	background-color: $dark-grey;
	margin-top: 98px;
	padding: 0 100px;
}



.blog-init {
	padding: 160px 0;
	display: grid;
	grid-template-columns: 1fr .5fr;
	column-gap: 50px;
	max-width: 70vw;
	margin: auto;
	& h3, p, h4 {
		color: $header-color
	}
	> .posts {
		display: grid;
		row-gap: 50px;
		> .item {
			display: grid;
			grid-template-columns: .5fr 1fr;
			box-shadow: 0px 6px 47px 3px rgba(37,37,37, .05);
			> .logo {
				display: grid;
				place-content: center;
				border-radius: 4px;
				> img {
					width: 6em;
				}
			}
			> .content {
				background-color: #fff;
				padding: 71px 36px;
				position: relative;
				> a {
					position: absolute;
					bottom: 10px;
				}
			}
		}
	}
	> .more {
		display: flex;
		flex-direction: column;
		> .faq {
			box-shadow: 0px 6px 47px 3px rgba(37,37,37, .05);
			height: fit-content;
			margin-bottom: 65px;
			> h3 {
				margin: 0;
				margin-bottom: 40px;
				padding-left: 10px;
			}
			& .item {
				&:nth-child(3) {
					margin: 32px 0;
				}
				display: grid;
				grid-template-columns: .3fr 1fr;
				column-gap: 36px;
			}
			& a > h4 {
				margin: 0;
				margin-top: 40px;
			}
		}
		> .socials {
			box-shadow: 0px 6px 47px 3px rgba(37,37,37, .05);
			height: fit-content;
			> h3 {
				margin-bottom: 40px;
			}
			& .item {
				display: grid;
				grid-template-columns: .3fr 1fr;
				column-gap: 36px;
				& svg {
					place-self: center;
					font-size: 4em;
				}
				&:nth-child(3) {
					margin: 32px 0;
				}
			}
		}
	}
	& a > * {
		color: rgba($color: $fuchsia, $alpha: .5);
		transition: all .3s linear;
		&:hover {
			color: $fuchsia;
		}
	}
	
}

.bottom-banner {
	background: url(/metaflux/assets/img/banner/banner-blog.jpg);
	background-position: center;
	background-size: contain;
	position: relative;
	margin: auto;
	border-radius: 4px;
	padding: 182px 60px 55px 60px;
	max-width: 60vw;
	> .logo {
		width: 160px;
		height: 160px;
		box-shadow: 0px 6px 47px 3px rgba(37,37,37, .05);
		position: absolute;
		top: -80px;
		background-color: #fff;
		box-sizing: border-box;
		padding: 2em;
		border-radius: 50%;
		left: calc(50% - 80px);
	}
	p , h1{
		max-width: 70%;
		text-align: justify;
	}
}
