/* For mobile portrait */
@media only screen and (min-device-width: 300px)
	and (max-device-width: 1024px)
	and (orientation: portrait)
	{
		li {
			list-style: none !important;
			text-align: justify;
			max-width: 85vw;
		}
		.main-header{
			grid-template-columns: 2fr .5fr 1fr !important;
			> .items {
				display: none;
			}
			> .mobile-menu {
				display: block;
				grid-area: 1 / 3;
				place-self: center;
				> img {
					width: 3.5em;
					padding: 10px;
				}
			}
		}
		.mobile-hidden {
			display: none !important;
		}
		.sumary{
			max-width: 100vw;
			background-size: cover !important;
			grid-template-columns: unset !important;
			padding-left: 10px !important;
			padding-right: 10px !important;
			> img {
				width: 50vw !important;
				left: calc(50% - 25vw);
				right: unset !important;
			}
			> div {
				margin: auto;
				max-width: 72vw;
				> button {
					width: 50vw !important;
					left: calc(50% - 25vw) !important;
				}
			}

			& a {
				left: calc(50% - 6em) !important;
			}
		}
		.benefits {
			grid-auto-flow: unset !important;
			padding: 0 0 3em 0 !important;
			& .porperty {
				& img {
					width: 6rem !important;
				}
			}
			> * {
				place-self: center;
			}
			.graphic > img {
				width: 80vw !important;
			}
		}
		.fill {
			max-width: unset !important;
			padding: 0 40px;
			> p {
				max-width: unset !important;
				text-align: justify;
			}
		}
		.footer{
			padding: unset !important;
			 > .footer-wrapper {
				grid-template-columns: unset !important;
				row-gap: 3em;
				> .footer-info {
					place-items: center;
					& img.logo-tipo {
						place-self: center !important;
					}
					& p {
						text-align: center;
					}
				}
				> .footer-content {
					grid-template-columns: unset !important;
					text-align: center;
					& h2 {
						margin-bottom: 1em !important;
					}
				}
			}
		}
		.md-content {
			margin-left: 0 !important;
			padding: 57px 15px !important;
			max-width: 100vw !important;
			&.no-menu {
				padding: 0 !important;
				padding-bottom: 2em !important;
			}
			.socials.big {
				max-width: 85vw !important;
				.icon > * {
					font-size: 5em !important;
				}
				.social-item > .description {
					padding: 35px 15px !important;
					text-align: justify;
				}
				& h2 {
					text-align: left;
				}
			}
			ul {
				padding: 10px 10px !important;
				max-width: 85vw !important;
				place-self: center !important;
			}
			.highlighter-rouge {
				padding: 10px !important;
			}
			.language-plaintext {
				padding: 5px !important;
			}
			.doc-text-wrapper {
				padding: 0 30px !important;
			}
			.doc-block > p {
				padding: 0 25px;
				text-align: justify;
			}
			.highlight::before {
				width: 5px !important;
				left: -5px !important;
			}
			.blog-init {
				max-width: 85vw !important;
				grid-template-columns: unset !important;
				row-gap: 50px;
				.content {
					padding: 35px 18px !important;
					> a {
						bottom: 0 !important;
					}
					> p {
						text-align: justify;
					}
				}
			}
			&.n-4 {
				padding: 0 !important;
				& li {
					overflow: hidden;
				}
				> ul {
					margin: 15px auto !important;
					padding: 0 !important;
				}
			}
		}
		.bottom-banner {
			padding: 90px 30px 28px 30px !important;
			max-width: 85vw !important;
			background-size: cover !important;
			> h1, p {
				text-align: center !important;
				max-width: unset !important;
			}
		}
		.p-menu-box {
			z-index: 2 !important;
		}
		pretty-menu.p-mobile-toggled::before {
			z-index: 2 !important;
		}
		pretty-menu .p-mobile-only {
			display: none !important;
		}
		.faq-banner > p, .community-banner > p, .blog-banner > p {
			padding: 0 !important;
		}
		.mobile-nav {
			display: flex !important;
		}
		.highlighter-rouge {
			max-width: 85vw !important;
			margin: auto !important;
			width: 100%;
		}
}
/* For tablets and mobiler landscape */
@media only screen
	and (max-device-width: 1380px)
	and (orientation: landscape)
{
	.sumary {
		& img {
			bottom: -2em !important;
		}
	}
	.benefits {
		grid-auto-flow: unset !important;
		place-items: center;
		& .graphic > img {
			width: 65vw !important;
		}
		& .porperty > img {
			width: 15em !important;
		}
	}
	/*p, a, button {
		font-size: 1.3em !important;
	}*/
	.faq-banner > p, .community-banner > p, .blog-banner > p {
		max-width: unset !important;
	}
	.icon > * {
		font-size: 8em !important;
	}
}
