/*--------------------------- themes----------------------------------- */
/*<purple>*/
.docs-theme-purple{
	& .main-header {
		background-color: $main-color !important;
	}
	& .sumary pretty-button * {
		color: $main-color-light !important;
		border-color: $main-color-light !important;
		&:hover {
			color: $main-color !important;
			border-color: $main-color !important;
		}
	}
	& .benefits .porperty > svg {
		color: $main-color !important
	}
}
/*</purple>*/
/*<orange>*/
.docs-theme-orange {
	& .main-header {
		background-color: $orange-color !important;
	}
	& .sumary pretty-button * {
		color: $orange-color-light !important;
		border-color: $orange-color-light !important;
		&:hover {
			color: $orange-color !important;
			border-color: $orange-color !important;
		}
	}
	& .benefits .porperty > svg {
		color: $orange-color !important
	}
}
/*</orange>*/
/*<fuchsia>*/
.docs-theme-fuchsia{
	& .main-header {
		background-color: $fuchsia-color !important;
	}
	& .sumary pretty-button * {
		color: $fuchsia-color-light !important;
		border-color: $fuchsia-color-light !important;
		&:hover {
			color: $fuchsia-color !important;
			border-color: $fuchsia-color !important;
		}
	}
	& .benefits .porperty > svg {
		color: $fuchsia-color !important
	}
}
/*</fuchsia>*/
/*<METAFLUX custom theme>*/
.docs-theme-metaflux{
	& .wrapper {
		margin-top: 0;
		/*padding-top: 101px;*/
	}
	& .main-content {
		padding: 0;
	}
	
	& .sumary {
		padding: 10px 5em;
		position: relative;
		background: url('/metaflux/assets/img/banner/banner-metaflux.jpg');
		padding-bottom: 10em;
		padding-top: 101px;
		background-position: left;
		background-size: contain;
		background-size: 81vw;
		background-repeat: no-repeat;
		background-color: #000;
		> div {
			place-self: center;
			display: grid;
			position: relative;
			> .d-pretty-button {
				/*margin-top: 20px;*/
				font-size: 20px;
				position: absolute;
				bottom: -60px;
				left: 10px;
				z-index: 3;
				height: 40px;
    			padding: 0 2em;
				background: rgba($color: $light-purlple, $alpha: .5);
				color: #fff !important;
				border-color: $fuchsia !important;
				border-radius: 0;
				touch-action: manipulation;
				white-space: nowrap;
				outline: none;
				border: 1px solid;
				cursor: pointer;
				display: grid;
				grid-auto-flow: column;
				column-gap: 1em;
				align-items: center;
				&:hover {
					background: $dark-purlple !important;
				}
			}
			> p {
				font-size: 20px;
				color: #fff;
			}
			> h1 {
				font-size: 46px;
				color: #fff;
				margin-bottom: 72px;
			}
		}
		> img {
			width: 621px;
			position: absolute;
			right: 100px;
			bottom: -5em;
			z-index: 3;
		}
		> svg {
			position: absolute;
			bottom: 0;
			z-index: 2;
		}
	}
	/*------*/
	& .main-header {
		grid-template-columns: 2fr 4fr 1fr !important;
		background: $header-color !important;
		transition: all .3s linear;
		& .item.active {
			color: $fuchsia !important;
			&::after {
				border-color: $fuchsia !important;
			}
		}
		& .items {
			place-self: center;
		}
		&.transparent {
			background: transparent !important;
		}
		& > .logo {
			display: grid;
			grid-auto-flow: column;
			> .logotipo {
				height: 2em;
				width: auto;
			}
		}
	}
	& .fill {
		margin: 50px 0;
		text-align: center;
		max-width: 50%;
		place-self: center;
		> h1 {
			font-size: 32px;
			color: $header-color;
		}
		> p {
			font-size: 17px;
			color: $header-color;
			max-width: 42vw;
		}
	}
	& .benefits {
		& > .props {
			> .porperty {
				display: grid;
				grid-auto-flow: column;
				column-gap: 1em;
				padding: 0 2em;
				> img {
					width: 8em;
					place-self: center;
				}
				p {
					color: $grey-blue;
					max-width: 21em;
				}
				h1 {
					color: $header-color;
				}
			}
		}
		& > .graphic > img {
			width: 40vw;
		}
	}

}
/*</METAFLUX custom theme>*/
/*---------------------------END-THEMES-------------------------------*/
