# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# vagrant machines
.vagrant
vagrant/tmp
vagrant/files/ssh
# ignore vagrant entirely
vagrant

# don't include .env!!!!
.env

.vscode