.main-content > h2 {
	margin: 15px 0;
	text-align: center;
}

.main-content {
	row-gap: 15px;
}

.sumary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #fff;
	padding: 10px;
}

.sumary > div {
	padding: 0 15px;
	color: #666;
}

.sumary > img {
	width: 10em;
	place-self: center;
}

.sumary > div > p {
	margin: 10px 0;
	text-align: justify;
}

.sumary h1 {
	color: var(--dark-color);
}

.sumary pretty-button * {
	font-size: 20px !important;
	color: var(--main-color-light);
	border-color: var(--main-color-light);
}

.sumary pretty-button *:hover {
	color: var(--main-color);;
	border-color: var(--main-color);;
}

.benefits {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
	background-color: rgba(252, 250, 226,.5);
	text-align: justify;
	padding: 0 15px;
}

.benefits > * {
	padding: 5px;
	display: grid;
}

.benefits .porperty > svg {
	place-self: center;
	font-size: 50px;
	color: var(--main-color)
}

.related {
    display: grid;
    text-align: center;
}

.related > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
}

.related img {
	max-width: 150px;
	cursor: pointer;
}

.communication, .issues {
	padding: 10px;
}

.communication h3, .issues h3 {
	margin: 10px
	 0px;
}
