/* Global variables */
:root {
	--custom-border-radius: 6px;
	--clear-color: ghostwhite;
	--clear-hover: #84099e;
	--dark-color: #333333;
	--custom-green: #28B862;
	--custom-blue: #00a4df;
	--custom-red: #f56954;
}
html, body {
	background-color: var(--clear-color);
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	display: grid;
	/* place-items: center; */
}

.main-content > h2 {
	margin: 15px 0;
	text-align: center;
}

.main-content {
	display: grid;
	max-width: calc(100vw - 20px);
	margin: auto;
}

.main-content .sumary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #fff;
	padding: 10px;
}

.main-content .sumary > div {
	padding: 0 15px;
	color: #666;
}

.main-content .sumary > img {
    width: 10em;
    place-self: center;
}

.main-content .sumary > div > p {
	margin: 10px 0;
}

.sumary h1 {
	color: var(--dark-color);
}

.sumary pretty-button * {
	font-size: 20px !important;
	color: rgba(132, 9, 158, .5);
	border-color: rgba(132, 9, 158, .5);
}

.sumary pretty-button *:hover {
	color: #84099e;
	border-color: #84099e;
}