/* Global variables */
:root {
	--custom-border-radius: 6px;
	--clear-color: ghostwhite;
	--main-color: #84099e;
	--main-color-light: rgba(132, 9, 158, .5); 
	--dark-color: #333333;
	--custom-green: #28B862;
	--custom-blue: #00a4df;
	--custom-red: #f56954;
}
html, body {
	background-color: var(--clear-color);
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	display: grid;
	/* place-items: center; */
}

.main-content {
	display: grid;
	max-width: calc(100vw);
	margin: auto;
	margin-bottom: 239px;
}


.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: .5fr 4fr 1fr;
	padding: 14px 10px;
	background-color: #84099e;
	color: #fff;
	column-gap: 10px;
	z-index: 100;
	overflow-x: auto;
}

.main-header > .items {
	display: grid;
	grid-auto-flow: column;
	place-content: center start;
	column-gap: 10px;
}

.main-header .logo > img {
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	box-sizing: border-box;
	width: 70px;
	border-radius: 50%;
}

.main-header .logo {
	/* display: grid; */
	/* grid-auto-flow: column; */
	place-content: center start;
	align-items: center;
	column-gap: 10px;
}

.main-header .socials {
	display: grid;
	grid-auto-flow: column;
	place-items:center;
}

.main-header .socials > div > * {
	font-size: 2em;
	cursor: pointer;
}

.main-header .items > *:not(.active) {
	color: rgba(255,255,255, .7);
	cursor: pointer;
	transition: color .3s ease;
	user-select: none;
}

.main-header .items > *:not(.active):hover { 
	color: #fff;
}

.main-header .items > * {
	position: relative;
	cursor: default;
}

.main-header .items > *.active::after {
	position: absolute;
	content: "";
	border-bottom: 2px solid rgba(255,255,255,.6);
	left: 0;
	right: 0;
	bottom: -3px;
}

#content {
	margin-top: 100px;
	position: relative;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #d9d9d9;
	position: absolute;
	bottom: 0;
	place-content: center;
	padding: 10px;
	left: 0;
	right: 0;
	column-gap: 10px;
}

.footer img {
	grid-area: 2 / 2;
	width: 5em;
	place-self: center;
}

.footer > div {
	display: grid;
	place-self: center;
}

.footer a, a {
	text-decoration: none;
	color: var(--primary-bg);
    transition: all .3s ease;
}

.footer a:hover {
    color: var(--primary-bg-hv);
}

.md-content {
	padding: 10px;
	overflow: auto;
}

.md-content > h1:not(:first-child) {
	margin-top: 10px;
}

pretty-menu-item[type="group"] > .p-menu-item-box {
	height: unset !important;
}

pretty-menu-item[type="group"] svg {
	margin-top: 10px;
	place-self: start center !important;
}

pretty-menu-item > .p-menu-item-box {
	padding: 0 !important;
}
pretty-menu-item[type="group"] .p-menu-item-box.selected ul{
	display: block;
}
pretty-menu-item[type="group"] ul{
	display: none;
	list-style: none;
	margin-left: 0 !important;
}