@media only screen and (min-device-width: 300px) 
	and (max-device-width: 800px) 
	and (orientation: portrait) 
	{
		.benefits {
			grid-template-columns: unset;
			row-gap: 10px;
			padding: 0 10px;
		}
		.mobile-hidden {
			display: none !important;
		}
		.main-header {
			grid-template-columns: auto 1fr;
		}
		.footer img {
			width: 3em;
		}
		.sumary {
			grid-template-columns: unset;
		}
		.sumary img {
			grid-area: 1 / 1;
		}
		.main-header .active {
			display: none;
		}
		pretty-menu::after {
			display: none !important;
		}
	}